<h1>Welcome!</h1>

<p>
You've been invited to join AlMakinah Resturant ! Click the link below to finish your registration: <br/>
<%= link_to 'Finish Registration', "https://group-food-ordering.herokuapp.com/invitations/#{@token}" %>
</p>

