<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @first_name %></h1>
    <p>Your order has been confirmed. Thank you for ordering from Almakinah Restaurant.</p>
    <p>Please enjoy your meal :)</p>
  </body>
</html>